<%- include ../fixed/header.ejs %>
<div class="jumbotron">
    <div class="container-fluid ">
        <div class="row  container-2">
            <h2 align="center">Sala</h2>   
            <div class="col-md-3">
                <button class='btncolor' data-color='255,0,0' id="sala2branca" type="button" style="background-color:#FF0004;height: 3.2em; border: 1px solid gray; border-radius: 5px; width:100% "></button>
            </div>
            <div class="col-md-3">
                <button class='btncolor' data-color='0,0,255' id="sala2branca" type="button" style="background-color:#1900FF;height: 3.2em; border: 1px solid gray; border-radius: 5px; width:100% "></button>
            </div>
            <div class="col-md-3">
                <button class='btncolor' data-color='0,255,0' id="sala2branca" type="button" style="background-color:#00FF04;height: 3.2em; border: 1px solid gray; border-radius: 5px; width:100% "></button>
            </div>
            <div class="col-md-3">
                <button class='btncolor' data-color='255,0,190' id="sala2branca" type="button" style="background-color:#FF00BF;height: 3.2em; border: 1px solid gray; border-radius: 5px; width:100% "></button>
            </div>
               
                
                
                <!--</div>-->
        </div>
        <div class="row">       
            <div class="col-md-4 container-2"><h4 align="center">Luz da Copa</h4>
                <button type="button" id="copa" class="btn btn-default btn-lg btn-block ">Desligada</button>
            </div>
            <div class="col-md-4 container-2"><h4 align="center">Temperatura do Quarto</h4>
               <div class="progress">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    <span></span>
                  </div>
                </div>
            </div>
            <div class="col-md-4 container-2"><h4 align="center">Luz do Banheiro</h4>
                <button type="button" id="banheiro" class="btn btn-success btn-lg btn-block  ">Ligada</button>
            </div>
        </div>
        <div class="row">  
            <div class="col-md-4 container-2"><h4 align="center">Luz da Varanda</h4>
                <button type="button" id="varanda" class="btn btn-success btn-lg btn-block  ">Ligada</button>
            </div>

            <div class="col-md-4 container-2"><h4 align="center">Controle do Portão</h4>
                <button type="button" id="portao" class="btn btn-success btn-lg btn-block ">Ligada</button>
            </div>

            <div class="col-md-4 container-2"><h4 align="center">Status do Alarme</h4>
                <button type="button" id="alarme" class="btn btn-success btn-lg btn-block ">Ligada</button>
            </div>
        </div>
    </div>
</div>
<%- include ../fixed/footer.ejs %>