<%- include ../fixed/header.ejs %>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Testando led</h1>
        <p><!--<input type="text" id="texto"/>--> <a id="botao" class="btn btn-primary btn-lg" role="button">Ligar</a></p>
      </div>
    </div>

    <div class="container">
    
      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->

<%- include ../fixed/footer.ejs %>