body {
  padding-top: 15%;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background-color: #ddd;
  border-radius: 10px;
  color: #00979C;
  font-family: "TyponineSans Monospace Regular 4", "TyponineSans Monospace Light 5";
  font-style: normal;
  font-weight: normal;
  -webkit-transition: all 3400ms ;
  -moz-transition: all 3400ms ;
  -ms-transition: all 3400ms ;
  -o-transition: all 3400ms ;
  transition: all 3400ms ;
}
.form-signin /*.form-signin-heading*/,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin-heading{
  text-align: center;
}
button.btn.btn-lg.btn-primary.btn-block{
color: #fff;
background-color: #00979C;
border-color: #005c5f;

}
button.btn.btn-lg.btn-primary.btn-block:hover{
  background-color: #005c5f;
}






