DIV.navbar-header{
	float: right;
}

.navbar.navbar-inverse.navbar-fixed-top{
	border-color: #00979C;
	background-color: #008184;
	color: #005c5f;
}
a.navbar-brand.menu2{
	color: #fff;
}

a.navbar-brand.menu2:hover{
	background-color: #005c5f;	
}

a.btn.btn-primary.btn-lg{
	background-color: #00979C;
}

.container-2 {
  /*padding: 15px;*/
  margin-top: 10px;
  color: inherit;
  background-color: #efefef;
  -webkit-box-shadow: 1px 1px 1px 1px #B0B0B0;
box-shadow: 1px 1px 1px 1px #B0B0B0; /*esquerda, embaixo, */

}
.container-2 h1,
.container-2 .h1 {
  color: inherit;
}
.container-2 p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.jumbotron .container-2 {
  border-radius: 6px;
}
.container-2 .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .container-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .container .container-2 {
    padding-right: 60px;
    padding-left: 60px;
  }
  .container-2 h1,
  .container-2 .h1 {
    font-size: 63px;
  }
}
/*.space{
	margin-right: 25px;
}*/
.by, a.by:hover, a.hover:active {
	color: #fff;
	text-align: center;
	vertical-align: center;
}

img.img{
	float: left;
}
img.img1{
	float: right;
}

